body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; /* Couleur de fond */
}

.container {
    padding: 20px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.left img {
    border-radius: 10px;
    height: 60%;
    width: 100%;
    object-fit: cover;
}

.right {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.btn {
    width: 100%;
}

