
.bg-image-vertical {
    background-image: url('/css/Hotmanag3.jpg'); 
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: contain;
}

        .form-label {
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: 1px;
            margin-bottom: 0.5rem;
          }
        
        .h-custom-2 {
            height: 100vh;
        }
        
        .btn-custom {
            background-color: #363fb9;
            color: white;
            font-size: 1.2rem;
        }
        
        .btn-custom:hover {
            background-color: #0714c7;
        }
        
       
        @media (max-width: 768px) {
            .h-custom-2 {
                height: auto;
            }
        
            .form-outline {
                margin-bottom: 2rem;
            }
        
            .btn-custom {
                font-size: 1rem;
            }
        
            .bg-image-vertical {
                background-position: center center;
                background-size: cover;
            }
        
            .col-sm-6 {
                padding: 0;
            }
        }
        
        /* Medium to large screen styles */
        @media (min-width: 768px) and (max-width: 1024px) {
            .col-sm-6 {
                padding: 0 1rem;
            }
        
            .form-outline {
                margin-bottom: 1.5rem;
            }
        
            .btn-custom {
                font-size: 1.1rem;
            }
        
            .bg-image-vertical {
                background-position: center center; 
                background-size: cover;
            }
        }
        
       
        @media (min-width: 1025px) {
            .h-custom-2 {
                height: 100%;
            }
        
            .col-sm-6 {
                padding: 0 2rem;  
            }
        
            .bg-image-vertical {
                background-position: center center; 
                background-size: cover; 
            }
        
          
            .d-flex {
                padding-top: 10rem; 
            }
        }
        