<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel JNH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style1.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <header>
        <nav class="navbar ">
            <a href="#" class="nav-logo">
                <h2 class="text">Gestion des evenements</h2>
            </a>
            <ul class="nav-menu">
                <button id="menu-close-button" class="fas fa-times"></button>

                <li class="nav-item">
                    <a href="#" class="nav-link">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">A propos nous</a>
                </li>
                <li class="nav-item">
                    <a href="#evanc" class="nav-link">Anciens evenements</a>
                </li>
                <li class="nav-item">
                    <a href="#evnouv" class="nav-link">Nouveaux evenements</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Nos contacts</a>
                </li>
            </ul>

            <button id="menu-open-button" class="fas fa-bars"></button>
        </nav>
    </header>
    <main>
        <section class="ev1-section">
            <div class="section-content">
                <div class="ev1-details">
                    <h2 class="title">Evenement</h2>
                    <h3 class="subtitle">Participer dans nos evenemnts!</h3>
                    <p class="description">Bienvenu à notre centre d'événements.</p>

                    <div class="buttons">
                        <a href="http://localhost:8082/registration" class="button ajouter-evenement">Ajouter evenement</a>
                        <a href="http://localhost:8082/evenements/eventsViews" class="button voir-evenement">Voir evenement</a>
                        <a href="http://localhost:8082/login" class="button connecter">Se connecter</a>
                    </div>
                </div>
                <div class="ev1-image-wrapper">
                    <img src="../static/images/2-1.webp" alt="Ev1" class="ev1-image">
                </div>
            </div>
        </section>
        <section class="about-section" id="about">
            <div class="section-content">
                <div class="about-image-wrapper">
                    <img src="../static/images/undraw_Personal_website_re_c8dv.png" alt="About" class="about-image">
                </div>
                <div class="about-details">
                    <h2 class="section-title">A propos nous</h2>
                    <p class="text">Bienvenue sur Evenement JNH, votre partenaire de confiance pour la gestion de tous vos événements ! Notre mission est de simplifier le processus de planification, d'organisation et de gestion d'événements, qu'ils soient petits ou grandioses. Que vous organisiez des conférences, des mariages, des séminaires ou des fêtes privées, nous offrons des solutions complètes et intuitives pour répondre à vos besoins spécifiques</p>
                    <div class="social-link-list">
                        <a href="#" class="social-link"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#" class="social-link"><i class="fa-brands fa-x-twitter"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="menu-section" id="evanc">
            <h2 class="section-title">Anciens Evenements</h2>
            <div class="section-content">
                <ul class="ev-list">
                    <li class="ev-item">
                        <img src="../static/images/e37880bc-8210-4069-b6ea-639a77a20f7b.webp" alt="conference" class="ev-image">
                        <h3 class="name"> Conférence annuelle sur la transformation digitale</h3>
                        <p class="text">Cette conférence est réalisée au grand auditorium avec une capacité de 500personnes. Elle comporte des professionnels de l'industrie, dirigeants d'entreprises, stratups, et étudiants en technologie. Son théme est "Innover pour transformer le monde des affaires". Il permet de partager les derniéres tendances en technologie et transformation digitale, stimuler des idées novatrices, et établir des collaborations professionnelles. Elle continne un discours d'ouverture par un expert renommé dans le domaine de la technologie, des panels de discussion : "Les opportunités offertes par l'IA dans les entreprises" et "L'importance des données dans la prise de décision", des ateliers interactifs pour apprendre à implémenter des solutions numériques, une session de networking pour connecter les participants et une cloture et présentation des meilleures innovations issues de startups participantes.</p>
                    </li>
                    <li class="ev-item">
                        <img src="../static/images/a184c33a-45af-4838-8113-c0f1c28f515d.webp" alt="lancement" class="ev-image">
                        <h3 class="name">Lancement d'un nouvel Ordinateur Portable Innovant</h3>
                        <p class="text">Un événement réalisé au centre de conventions futuriste avec une grande scéne technologique. Il comporte des journalistes, blogueurs technologiques, influenceurs et partenaires d'affaires. Son théme est "L'avenir de la productivité". Il contient une présentation du produit par le PDG, décrivant ses caractéristiques principales, une démonstration en direct des capacités du ProTechX5, comme l'IA intégrée et une compatibilité avancée avec d'autres appareils connectés, une conférence avec des experts discutant des tendances technologiques et de la vision de l'entreprise et un espace interactif ou les invités peuvent tester le produit et poser des questions</p>
                    </li>
                    <li class="ev-item">
                        <img src="../static/images/402f6b9f-bc2d-4285-9884-4a9f72ce0958.webp" alt="seminaire" class="ev-image">
                        <h3 class="name">Séminaire sur le Leadership et la Gestion d'Équipe</h3>
                        <p class="text">C'est un séminaire réalisé à l'hotel de conférence au centre ville.Il comporte 50 professionnels, principalement des managers et chefs d'équipe.Il permet de renforcer les compétences en leadership, communication et gestion d'équipe pour améliorer le performance organisationnelle.Il contient une introduction par un expert en leadership, des ateliers interactifs sur la résolution de conflits et la motivation des employés, des études de cas pratiques à résoudre en groupe et une session de coaching individuel avec des experts.</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="menu-section" id="evnouv">
            <h2 class="section-title">Nouveaux Evenements</h2>
            <div class="section-content">
                <ul class="ev-list">
                    <li class="ev-item">
                        <img src="../static/images/7cee28e8-36ea-406f-a49f-af5c9e833fb2.webp" alt="conference" class="ev-image">
                        <h3 class="name">Journées Nationales des Jeux Vidéo et E-sport</h3>
                        <p class="text">Ces journées seront réalisées dans le "Centre des Expositions de Tunis (Kram)". Il comporte des gamers, développeurs et investisseurs. Son objectif est de promouvaoir les industries créatives et numériques. Il contient des tournois e-sport internationaux  avec des équipes tunisiennes, une présentation de jeux-vidéo concus par des studios tunisiens et des conférences sur l'économie du gaming et de l'e-sport.</p>
                    </li>
                    <li class="ev-item">
                        <img src="../static/images/b06e695a-d89b-4280-8772-c27320b2dc4a.webp" alt="lancement" class="ev-image">
                        <h3 class="name">Lancement d'une Colonie sur Mars</h3>
                        <p class="text">Cet évenement sera réalisé dans le "Centre Urbain Nord de Tunis" puisque l'infrastructure est adaptée pour les conférences, expositions et ateliers. Il comporte des chercheurs, startups, ONG et des entreprises tunisiennes. Son objectif est de promouvaoir les solutions écologiques et durables pour l'économie tunisienne. Il contient des conférences sur l'énergie renouvelable, la gestion de de l'eau, et l'économie circulaire.Des ateliers pour startups spécialisées en technologies vertes.Et une exposition des innovations locales et internationales.</p>
                    </li>
                    <li class="ev-item">
                        <img src="../static/images/25335ba8-d8b3-44d1-abd7-82f7213da91c.webp" alt="seminaire" class="ev-image">
                        <h3 class="name">Festival de l'Intelligence Artificielle et de la Robotique</h3>
                        <p class="text">Ce festival sera réalisé dans le "Parc Technologique de Monastir" grace à l'innovation technologique et la proximité d'université. Il comporte des ingénieurs en IA robotique, des chefs de projet technologique, des entrepreneurs et start-ups et des investisseurs en technologie. Son objectif est de faire de la Tunisie un hub de l'IA et de la robotique en Afrique. Il contient des démonstrations de robots concus en Tunisie, des compétitions de codage en IA pour résoudre des problémes locaux et des conférences sur l'impact de l'IA dans la santé, l'éducation et l'industrie.</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="contact-section" id="contact">
            <h2 class="section-title">Contact</h2>
            <div class="contact">
                <ul class="contact-list">
                <li class="contact-icon">
                    <i class="fa-solid fa-location-crosshairs"></i>
                <p>Ariana - Tunisie</p>
            </li>
            <li class="contact-icon">
                <i class="fa-regular fa-envelope"></i>
                <p>evenementjnh@gmail.com</p>
            </li>
            <li class="contact-icon">
               <i class="fa-solid fa-phone"></i>
               <p>71200680</p> 
            </li>
            <li class="contact-icon">
                <i class="fa-solid fa-globe"></i>
                <p>www.EvenementJNH.com</p>
            </li>
        </ul>
        <form action="#" class="contact-form">
            <input type="text" placeholder="Entrer votre nom" class="form-input" required>
            <input type="email" placeholder="Entrer votre email" class="form-input" required>
            <textarea placeholder="Entrer votre message" class="form-input" required></textarea>
            <button class="submit-button">Envoyer</button>
                </form>
            </div>
            
        </section>
        <footer class="footer-section">
            <div class="section-content">
                <p class="copyright-text">2024 Evenement JNH</p>

                <div class="social-link-list">
                    <a href="#" class="social-link"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="social-link"><i class="fa-brands fa-x-twitter"></i></a>
                </div>

                <p class="policy-text">
                    <a href="#" class="policy-link">Privacy policy</a>
                    <span class="separator"></span>
                    <a href="#" class="policy-link">Refund policy</a>
                </p>
            </div>
        </footer>
    </main>

    <script src="../static/js/script.js"></script>
</body>
</html>
-
